:root{
    --purple: #461DAD;
    --purpleLight: #5222C9;
    --purpleBold: #652AFA;
    --purpleDark: #3C1994;
    --purpleBG: #C6BCF7;
    
}
h2{
    font-size: 2.7rem;
}
p{
    font-size: 150%;
}
li{
    margin: 2px 0;
    width: 800px;
    font-size: 1.4rem;
    background-color: var(--purpleBG);
    list-style: decimal inside none;
}
button{
    margin: 5px;
    width: 200px;
    height: 50px;
    border-radius: 7.5%;
    font-size: 1.4rem;
    background-color: var(--purple);
    color: #fff;
    transition: background-color 0.1s;
    
}
/* changes button color and cursor to react to user input */
button:hover{
    background-color: var(--purpleLight);
    cursor: pointer;
}

button:active{
    background-color: var(--purpleBold);
    cursor: pointer;
}

.choice-button{
    display: block;
}
/* Changes button color to let the user know if they answered correctly or not */
button.correct{
    background-color: green;
    display: block;
}
button.incorrect{
    background-color: red;
    display: block;
}
/* positions high scores link and timer countdown at the top of the screen */
.scores{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size:1.8rem;
    color: var(--purple);
}
.time{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.8rem;
    color: var(--purple);
}

.container{
    margin: 10% auto 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    min-width: 400px;
}
.hs-bg{
    background-color: var(--purpleBG);
}
/* hides elements in DOM */
.hidden{
    display: none;
}

.title{
    margin: auto;
    margin-bottom: 10px;
    font-size: 4rem;
}
.return{
    font-size: 1.5rem;
    
}

#start-screen{
    text-align: center;
}

#quiz-title{
    margin-top: 100px;
}