:root{
    --purple: #461DAD;
    --purpleLight: #5222C9;
    --purpleBold: #652AFA;
    --purpleDark: #3C1994;
    
}

p{
    font-size: 150%;
}
button{
    background-color: var(--purple);
    color: #fff;
    transition: background-color 0.1s;
    
}

button:hover{
    background-color: var(--purpleLight);
}

button:active{
    background-color: var(--purpleBold);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.scores{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size:1.7rem;
    color: var(--purple);
}
.time{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.7rem;
    color: var(--purple);
}
#start-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 15vw;
}
.hidden{
    display: none;
}

#title{
    margin: 100px auto;
    margin-bottom: 10px;
    font-size: 3.2rem;
}
#start{
    width: 150px;
    height: 40px;
    border-radius: 7.5%;
    font-size: 1.4rem;
}
